<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Shop</h1>

    <!-- Проверяем, вошел ли пользователь в систему -->
    {% if user.is_authenticated %}
    <p>Hello, {{ user.username }}!</p>
    <form action="{% url 'custom_logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% else %}
        <p><a href="{% url 'login' %}">Login</a></p>
    {% endif %}


    <div>
        {% for product in products %}
            <div>
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <p>Price: {{ product.price }}</p>
                <style>
                        .product-image {
                        width: 50px; /* или любое другое значение */
                        height: auto; /* сохраняет пропорции */
                        }
                </style>
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="120" height="120">

                {% endif %}
            </div>
        {% empty %}
            <p>No products available.</p>
        {% endfor %}
    </div>
</body>
</html>
