<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Shop</h1>


    {% if user.is_authenticated %}
    <p>Hello, {{ user.username }}!</p>
    <form action="{% url 'custom_logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% else %}
        <p><a href="{% url 'login' %}">Login</a></p>
    {% endif %}
    <a href="{% url 'cart' %}" style="padding: 10px 15px; background-color: #ffcc00; color: black; text-decoration: none; border-radius: 5px;">
    🛒 Перейти в корзину
    </a>
    {% if user.is_authenticated %}
    <a href="{% url 'profile' %}" style="padding: 10px; background-color: #ffcc00; color: black; text-decoration: none; border-radius: 5px;">
        Личный кабинет
    </a>
{% else %}
    <a href="{% url 'login' %}" style="padding: 10px; background-color: #ffcc00; color: black; text-decoration: none; border-radius: 5px;">
        Войти
    </a>
{% endif %}


    <div>
        {% for product in products %}
            <div>
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <p>Price: {{ product.price }}</p>
                <a href="{% url 'add_to_cart' product.id %}">Добавить в корзину</a>

                <style>
                        .product-image {
                        width: 50px;
                        height: auto;
                        }
                </style>
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="120" height="120">

                {% endif %}
            </div>
        {% empty %}
            <p>No products available.</p>
        {% endfor %}
    </div>
</body>
</html>
